boto3==1.18.61
paramiko==3.3.1
pymongo==4.6.1

# Linting and formatting tools
black==23.3.0
flake8==6.0.0

# The following packages are required for the CI/CD pipeline
twine==5.1.1
wheel==0.43.0
setuptools==70.2.0